# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/

# Virtual Environment
venv/
.env
.env.*

# Compiled Python files
*.pyc

# Log files
log/

# Ignore Mac system files
.DS_Store

# Ignore editor-specific files
*.swp
.vscode/
.idea/